.main-school {

    .main-content {

        .content-header {
            display: grid;
            grid-template-columns: 3.8% 12% 12.5% 7% 12.5% 7.3% 13% 9% 13% 9.9%;
        }

        .content-main {
            
            .main-item {
                display: grid;
                grid-template-columns: 3.8% 12% 12.5% 7% 12.5% 7.3% 13% 9% 13% 9.9%;
            }
        }
    }
}

@media screen and (min-width: 991px) {
    .main-school {
        overflow-x: scroll;
        padding-bottom: 0px;

        .main-header {
            width: 1617px;
        }

        .main-content {
            width: 1556px;
            margin-top: 0;
        }
    }
}

@media screen and (min-width: 1921px) {
    .main-school {

        .main-header {
            width: 100%;
        }

        .main-content {
            width: 100%;
        }
    }
}